@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$font-inter: 'Inter', sans-serif;

$dirty-white: #F3F2F0;
$black: #232326;
$red: #D40000;
$white: #FFFFFF;
$light-grey: #38383a;

$std-spacing: 0.03em;

html {
    font-size: 10px;
}

h3, h2, h1, p, li, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-inter;
    background-color: $black;
    font-size: 1.4rem;
    color: $dirty-white;
    line-height: 1.5;
    overflow-x: hidden;
    font-weight: 400;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

.verticalLine {
    background-color: rgba($dirty-white, 0.5);
    height: 2.4rem;
    width: 1px;
}

.horizontalLine {
    background-color: $dirty-white;
    width: 100%;
    height: 1px;
}

.title {
    font-weight: 700;
    &_h1 {
        font-size: 7.4rem;
        text-transform: uppercase;
    }
    &_h2 {
        font-size: 2.8rem;
    }
    &_h3 {
        font-size: 1.6rem;
    }
    &_thin {
        font-weight: 400;
    }
    &_spacing {
        letter-spacing: $std-spacing;
    }
}

.circle {
    background-image: url('..//images/Ellipse.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.triangle
{
    background-image: url('..//images/Polygon.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.discussLink {
    text-decoration: none;
    color: $dirty-white;
    font-size: 1.6rem;
    font-weight: 700;
    display: inline-flex;
    gap: 1.6rem;
    align-items: center;
    position: relative;
    &::after {
        content: '';
        background-image: url('..//images/Arrow.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 15px;
        height: 12px;
        display: block;
    }
    &:hover {
        &::before {
            content: '';
            background-color: $dirty-white;
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: -11px;
        }
    }
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 2.8rem;
}

.header {
    background-color: $black;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    padding: 4rem 0;
    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        gap: 2.8rem;
        list-style-type: none;
        padding: 0;
    }
    &__link {
        text-decoration: none;
        color: $dirty-white;
        &:hover {
            color: $red;
        }
    }
    &__contacts {
        display: flex;
        justify-content: space-between;
        gap: 1.3rem;
    }
    &__tel {
        text-decoration: none;
        color: $dirty-white;
        &:hover {
            color: $red;
        }
    }
    &__mail {
        text-decoration: none;
        color: $dirty-white;
        &:hover {
            color: $red;
        }
    }
}

.main {
    margin-top: 12.5rem;
    margin-bottom: 18rem;
    &__image {
        background-image: url('../images/main.png');
        background-size: cover;
        background-repeat:no-repeat;
        width: 100%;
        height: 310px;
        margin-bottom: 12rem;
    }
    &__author {
        color: $dirty-white;
        font-size: 2.8rem;
        margin-bottom: 1.8rem;
        font-weight: 400;
    }
    &__title {
        margin-bottom: 9rem;
        margin-top: 0;
    }
    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin-bottom: 6rem;
    }
    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        gap: 2.8rem;
    }
    &__link {
        text-decoration: none;
        color: $dirty-white;
        font-size: 1.6rem;
        font-weight: 400;
        &:hover {
            color: $red;
        }
    }
    &__services {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-top: 6rem;
    }
    &__item {
        &__title {
            text-transform: uppercase;
            margin-bottom: 1.5rem;
        }
        &__text {
            opacity: 0.8;
            max-width: 250px;
        }
    }
    &__block {
        display: block;
    }
    &_circle {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: -53px;
            top: -41px;
            background-image: url('..//images/Ellipse.svg');
            background-size: cover;
            background-repeat: no-repeat;
            width: 106px;
            height: 106px;
            z-index: -1;
        }
    }
    &__circle {
        width: 253px;
        height: 253px;
        position: absolute;
        top: 375px;
        left: -126px;
        z-index: -2;
    }
    &__triangle
    {
        width: 67px;
        height: 73px;
        position: absolute;
        top: 35px;
        left: -24px;
        z-index: -1;
    }
}

.about {
    margin-bottom: 17.9rem;
    &__main {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;
    }
    &__title {
        text-transform: uppercase;
    }
    &__text {
        font-size: 2.8rem;
        font-weight: 400;
        opacity: 0.8;
        max-width: 560px;
        line-height: 1.5; 
    }
    &__characteristics {
        display: grid;
        grid-template-columns: 1.2fr 1.7fr;
        margin-top: 6rem;
        margin-left: 50%;
        padding-left: 1rem;
        grid-column-gap: 7rem;
        grid-row-gap: 6rem;
    }  
    &__item {
        min-width: 220px;
        &__title
        {
            margin-bottom: 2rem;
        }
        &__text {
            font-size: 1.4rem;
            font-weight: 400;
            opacity: 0.8;
        }
    }
}

.steps {
    margin-bottom: 17rem;
    &__list {
        list-style-type: none;
        &:last-child {
            border-bottom: 1px solid $dirty-white;
        }
    }
    &__item {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 2.95rem 0;
        border-top: 1px solid $dirty-white;
    }
    &__info {
        width: 50%;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 3.7rem;
    }
    &__number, &__name {
        font-size: 2.8rem;
        font-weight: 400;
    }
    &__content {
        padding-left: 1rem;
        font-size: 1.6rem;
    }
}

.portfolio {
    margin-bottom: 18rem;
    &__gradient {
        background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);
    }
    &__title{
        margin-bottom: 13.4rem;
        position: relative;
        z-index: 3;
    }
    &_circle {
        width: 465px;
        height: 465px;
        position: absolute;
        bottom: -274px;
        left: 347px;
        z-index: 1;
    }
    &__list {
        list-style-type: none;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6rem 0;
        border-bottom: 1px solid $dirty-white;
    }
    &__name{
        margin-bottom: 3.4rem;
    }
    &__content {
        font-size: 1.6rem;
        margin-bottom: 3.3rem;
        line-height: 2.15;
    }
    &__result {
        font-size: 1.6rem;
        font-weight: 700;
    }
    &__cover {
        display: flex;
        flex-basis: 560px;
    }
    &__image {
        width: 100%;
        position: relative;
        z-index: 2;
    }
}

.additional {
    margin-bottom: 18rem;
    &__text {
        font-size: 2.8rem;
        margin-bottom: 7.8rem;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 7.7rem;
        grid-column-gap: 2.1rem;
        grid-row-gap: 7.9rem;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 4rem;
        &__cover {
            width: 40px;
            height: 40px;
        }
        &__image {
            width: 100%;
        }
        &__title {
            margin-bottom: .7rem;
            font-weight: 600;
        }
        &__text {
            opacity: 0.8;
        }
    }
}

.stack {
    margin-bottom: 18rem;
    &__table {
        table-layout: fixed;
        width: 100%;
        border-collapse:collapse;
    }
    &__item {
        position: relative;
        border: 1px solid $dirty-white;
        text-align: center;
        vertical-align: middle;
        height: 144px;
        cursor: pointer;
        &:hover {
            .stack__item__dropdown {
                display: block;
            }
            .stack__item__image {
                filter: grayscale(0);
            }
        }
        &__dropdown {
            display: none;
            position: relative;
            background-color: $red;
            width: 232px;
            height: 122px;
            position: absolute;
            left: calc((100% - 232px) / 2);
            bottom: -104px;
            z-index: 2;
            &::after {
                content: '';
                border: 9px solid transparent;
                border-bottom: 9px solid $red;
                position: absolute;
                top: -18px;
                right: calc(50% - 8.5px);
            }
            &__cover {
                padding: 2.7rem 1.5rem;
            }
            &__title, &__text {
                font-size: 1rem;
                font-weight: 500;
                text-align: center;
            }
            &__title {
                margin-bottom: .8rem;
            }
        }
        &__image {
            filter: grayscale(1);
        }
    }
}

.rates {
    margin-bottom: 12rem;
    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7.9rem;
        gap: 2rem;
    }
    &__title {
        position: relative;
        letter-spacing: $std-spacing;
        text-transform: uppercase;
        &::after {
            content: '';
            background-image: url('..//images/Ellipse.svg');
            background-size: cover;
            background-repeat: no-repeat;
            width: 140px;
            height: 140px;
            position: absolute;
            left: -70px;
            bottom: 77px;
            z-index: -2;
        }
    }
    &__text {
        opacity: 0.8;
        font-size: 2.8rem;
        flex-basis: 560px;
    }
    &__list {
        list-style-type: none;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding: 5.95rem 0;
        border-top: 1px solid $dirty-white;
        &__info {
            width: 50%;
            &__title {
                margin-bottom: 2rem;
            }
        }
        &__description {
            margin-bottom: 7.5rem;
            font-size: 1.6rem;
            font-weight: 500;
            opacity: 0.8;
        }
        &__content {
            width: 50%;
            &__title {
                margin-bottom: 2.4rem;
            }
        }
        &__list {
            list-style-type: none;
            margin-bottom: 4.4rem;
            &:last-child {
                margin-bottom: 0;
            }
            &__item {
                font-size: 1.6rem;
                margin-bottom: .8rem;
                color: rgba($dirty-white, 0.8);
                display: flex;
                align-items: center;
                gap: 1rem;
                &::before {
                    content: '';
                    background-color: $dirty-white;
                    width: 4px;
                    height: 4px;
                    border-radius: 100%;
                }
            }
        }
        &__price {
            font-weight: 700;
            font-size: 4.2rem;
            position: relative;
        }
        &:nth-child(odd) {
            .rates__item__price {
                &::after {
                    content: '';
                    background-image: url('..//images/Ellipse.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 90px;
                    height: 90px;
                    position: absolute;
                    left: -45px;
                    bottom: -15px;
                    z-index: -2;
                }
            }
        }
    }
    &__block {
        display: block;
    }
}

.card {
        flex-basis: 560px;
    &__label {
        font-size: 1.2rem;
        color: rgba($dirty-white, 0.8);
        margin-bottom: 1.2rem;
        display: block;
    }
    &__input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        background-color: $light-grey;
        padding: 2.4rem 2rem;
        margin: 0 0 2rem 0;
        outline: none;
        font-size: 1.2rem;
        border: none;
        color: rgba($dirty-white, .2);
        &:focus {
            color: $dirty-white;
        }
    }
    &__button {
        width: 100%;
        font-size: 1.6rem;
        font-weight: 700;
        text-align: center;
        background-color: $red;
        padding: 2.2rem 0;
        color: $dirty-white;
        margin-top: 3.7rem;
        cursor: pointer;
        &:hover {
            background-color: #EA0E00;
        }
    }
}

.dropdown {
    display: block;
    position: relative;
    &__checkbox {
        display: none;
        &:checked {
            ~.dropdown__list {
                opacity: 1;
                max-height: 400px;
            }
            ~.dropdown__control {       
                color: $dirty-white;
                z-index: 99;
                &:after{
                    transform: rotate(180deg);
                }
            }
            ~.dropdown__close {
                transform: none;
                pointer-events: initial;
            }
        }
    }
    &__control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2.4rem 2.4rem 2.4rem 2rem;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        background-color: $light-grey;
        font-size: 1.2rem;
        color: rgba($dirty-white, .2);  
        &:after{
          content: "";
          display: block;      
          height: 7px;
          width: 12px;
          margin-left: .8em;
          background-image: url('..//images/Arrow_mini.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
    }
    &__list {
        position: absolute;
        list-style-type: none;
        top: 100%;    
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: $light-grey;  
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        z-index: 99;
    }
    &__item {
        display: block;
        padding: 1rem 2rem;
        margin: 0;
        box-sizing: border-box;
        font-size: 1.2rem;
        color: rgba($dirty-white, .2);
        cursor: pointer;
        &:hover {
            color: $dirty-white;
        }
    }
    &__close {
        position: fixed;    
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 9;
        transform: translate(100%,0);
        pointer-events: none;
    }
}

.feedback {
    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5.9rem;
    }
    &__title {
        letter-spacing: $std-spacing;
        text-transform: uppercase;
    }
    &__block {
        display: block;
    }
    &__text{
        flex-basis: 560px;
        font-size: 2.8rem;
    }
    &__main {
        padding: 6rem 0 13rem 0;
        border-top: 1px solid $dirty-white;
        border-bottom: 1px solid $dirty-white;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    &__social {
        display: flex;
        flex-direction: column-reverse;
    }
    &__circle {
        width: 300px;
        height: 300px;
        position: absolute;
        top: -28px;
        left: -153px;
        z-index: -2;
    }
    &__triangle
    {
        width: 67px;
        height: 73px;
        position: absolute;
        top: 52px;
        left: -24px;
        z-index: -1;
    }
}